#mainpage {
	background-color:white;
}

input, input:focus {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

/* imp buttons */

.impbtn-default {
    background-color: #7d7d7d;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -4px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.imp-search {
    border-bottom-left-radius:3px;
    border-top-left-radius: 3px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.23);
    padding: 7px;
    font-size: 14px;
}

.imp-search, ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
.imp-search, :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
.imp-search, ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
.imp-search, :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

.navbar-default .navbar-nav>.open>a {
background-image: none;
box-shadow: none;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #3498db;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-shadow: none;
        font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
} .navbar-default .navbar-nav>li>a:hover {
	color: white;
    background-color: #3498db;
}

#navimp {
    background: #1f1f1f;
    border-radius: 0px;
    border: none;
    border-bottom: solid 3px #3498db;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.06);
}

#imp-logo {
	color:white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: none;
}

.second-color {
	color:#3498db;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.imp-active {
    background-color: #3498db;
}

@media (min-width: 1200px){

	#imp-site {
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

}


@media (max-width: 900px){

}
